html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    --navbar-bgc: rgba(77, 77, 77, 77);
    --menu-bgc: rgba(0, 0, 0, 0.8);
    --hamburger: white;
    --headline__btn: turquoise;
    --text-color: #636e72;
    --icon-first-bgc: linear-gradient(to right, #0281F5, #59B0FE);
    --icon-second-bgc:linear-gradient(to left, #FD8E5E, #FDC285);
    --icon-third-bgc:#37EF8D;
    --features__btn-bgc: #0181F5;
    --features__btn-color: white;
    --star-color: gold;
    --basic-bgc: #E9F4FE;
    --basic__price: #3A81F5;
    --team-bgc: #FEF4EE;
    --team__price: #FDB769;
    --business-bgc: #E8FCF1;
    --business__price: #00D363;
    --item__btn: #3A81F5;
    --apps-bgc: #59B0FE;
    --apps-headline: white;
    --end-bgc: rgba(77, 77, 77, 77);
    --end-icons-bgc: grey;
    --end-icons-color: white;
    --end-headlines: white;
    --end-items: #b2bec3;
    --footer-bgc: black;

}

/* header */

.navbar {
    width: 100%;
    background-color: var(--navbar-bgc);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.menu__list {
    text-align: center;
    background-color: var(--menu-bgc);
    position: absolute;
    width: 100%;
    display: none;
}

.menu__item, .dropdown__item {
    margin: 35px;
}

.menu__dropdown {
    display: none;
}

.menu__item:hover > .menu__dropdown {
    display: block;
}

.menu__link {
    text-decoration: none;
    color: white;
}

input:checked + .menu__list {
    display: block;
}

input {
    display: none;
}

.navbar__hamburger {
    transform: rotate(90deg);
}

.hamburger__line1, .hamburger__line2, .hamburger__line3 {
    border: 2px solid var(--hamburger);
    background-color: var(--hamburger);
    margin: 3px;
}
/* head container  */

.head__container {
    background-image: url('../images/banner/banner.png');
    background-position-y: -95px;
    background-position-x: -1140px;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}

.container__headlines {
    margin-top: 63px;
    padding: 20px
}

.headline__bigger {
    font-size: 25px;
    font-weight: 400;
}

.headline__smaller {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 30px;    
}

.headline__btn {
    font-size: 13px;
    font-weight: 300;
    background-color: var(--headline__btn);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 7px;
    margin-bottom: 30px;    
}

/* icons */

.icons__headline {
    font-size: 22px;
    text-align: center;
    padding: 40px 10px;  
    color: var(--text-color);
}

.icon-first__img {
    color: var(--text-color);
}

.icon-first__background {
    background: var(--icon-first-bgc);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.icon-second__img {
    color: var(--text-color);
}

.icon-second__background {
    background: var(--icon-second-bgc);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.icon-third__img {
    color: var(--text-color);
}

.icon-third__background {
    background-color: var(--icon-third-bgc);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.container__icon-first, .container__icon-second, .container__icon-third {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-first__headline, .icon-second__headline, .icon-third__headline {
    max-width: 168px;
    text-align: center;
    margin: 20px;
}

/* features */

.features {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.features__headline {
    font-size: 22px;
    text-align: center;
    color: #636e72;
    padding: 25px 5px;  
}

.features__paragraph {
    font-weight: 300;
    margin-bottom: 20px;
}

.features__btn {
    font-size: 13px;
    font-weight: 300;
    background-color: var(--features__btn-bgc);
    color: var(--features__btn-color);
    border: none;
    padding: 12px 30px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.features__img {
    margin-bottom: 30px;
}

/* testmonial */

.testmonial {
    background-image: url(../images/banner/testmonial.png);
    background-size: 266%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position-x: -318px;
    background-position-y: -10px;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.testmonial::before {
    content: '';
    background-color: rgba(1, 129, 245, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
}

.testmonial__headline {
    font-size: 22px;
    text-align: center;
    color: white;
    z-index: 1;
    padding: 20px;
}

.testmonial__paragraph {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
    z-index: 1;
    padding: 20px;
}

.testmonial__stars {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-transform: uppercase;
    font-size: 12px;
}

.fa-star {
    color: var(--star-color);
    margin: 2px;
    font-size: 16px;
}

/* plan */

.plan__headline {
    font-size: 22px;
    text-align: center;
    color: var(--text-color);
    padding: 5px;  
    margin-top: 20px;
}

.plan__paragraph {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;  
}

.plan__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.plan__item {
    width: 80vw;
    max-width: 400px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 0 15px 1px #ddd;
    color: var(--text-color);
    transition: .2s;
}

.item__header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 17px;
}

.item__type {
    font-weight: 600;
}

.basic {
    background-color: var(--basic-bgc);
}

.basic__price {
    color: var(--basic__price);
    font-weight: 600;
}

.team {
    background-color: var(--team-bgc);
}

.team__price {
    color: var(--team__price);
    font-weight: 600;
}

.business {
    background-color: var(--business-bgc);
}

.business__price {
    color: var(--business__price);
    font-weight: 600;
}

.item__main {
    height: 340px;
}

.main__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item__btn {
    width: 130px;
    height: 35px;
    border: 1px solid var(--item__btn);
    background-color: transparent;
    border-radius: 7px;
    color: var(--item__btn);
    transition: .2s;
}

/* icons */

.apps {
    background-color: var(--apps-bgc);
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.header__headline {
    font-size: 22px;
    text-align: center;
    color: var(--apps-headline);
    padding: 25px 5px;  
}

.apps__icons {
    text-align: center;
}

/* end */

.end {
    background-color: var(--end-bgc);
    padding: 30px;
}

.end__socialmedia {
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.socialmedia__icons {
    display: flex;
}

.icons__fb, .icons__twitter, .icons__instagram {
    width: 30px;
    height: 30px;
    background-color: var(--end-icons-bgc);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--end-icons-color);
}

.icons__twitter, .icons__instagram {
    margin-left: 10px;
}

.socialmedia__paragraph {
    color: var(--end-items);
    font-size: 14px;
}

.services__headline, .useful-links__headline, .downloads__headline {
    font-size: 15px;
    color: var(--end-headlines);
    font-weight: 400;
    margin-bottom: 12px;
}

.services__item, .useful-links__item, .downloads__item {
    color: var(--end-items);
    font-size: 12px;
    margin-bottom: 12px;
}

/* footer */

.footer__paragraph {
    background-color: var(--footer-bgc);
    color: var(--end-items);
    font-size: 11px;
    text-align: center;
    padding: 30px;
}

.paragraph__link {
    color: #0281F5;
    text-decoration: none;
}

.fa-arrow-up {
    color: #FDB078;
    width: 30px;
    height: 30px;
    font-size: 21px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

a {
    text-decoration: none;
    color: var(--end-items);
}